body{
    font-family: 'Cabin', sans-serif;
}

.wraper{
    width: 1296px;
    margin: 0px auto;
    box-sizing: border-box;
}

.header{
    display: flex;
    padding: 5px 0px 5px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header-logo a{
    display: inline-flex;
    gap: 18px;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 28px;   
}

.header-logo img{
    width: 40px;
    height: 40px;
}

.header-menu ul{
    display: flex;
    gap: 56px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.blue-text a{
    color: #425DF8;
}

.button button{
    text-transform: uppercase;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    padding: 18px 22px;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.sign-up{
    background-color: white;
    border: 1px solid #DADADA;
    width: 110px;
    height: 49px;
    margin-right: 24px;
}

.sign-in{
    border: 1px solid #425DF8;
    background: #425DF8;
    color: white;
    width: 116px;
    height: 49px;
}

h1{
    margin-top: 145px;
    font-size: 64px;
    text-align: center;
    margin-bottom: 24px;
}

p{
    font-size: 22px;
    text-align: center;
    color: #7F828A;
}

.starter-card{
    display: inline-flex;
    width: 416px;
    height: 789px;
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 120px;
}

h2{
    font-size: 30px;
    text-align: center;
}

span{
    margin: 27px auto;
    color: #7F828A;
    font-size: 22px;
    text-align: center;
}

.price{
    display: flex;
    gap: 16px;
    margin: 0px auto;
    flex-direction: row;
}

.price span{
    display: flex;
    margin-left: 16px;
    
}

.price h1{
    display: flex;
    margin-top: 0px;
}

.starter-card-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 16px;
}

.starter-card-list span{
    padding-left: 16px;
}

.btn-for-start-pro {
    display: flex;
    justify-content: center;
    margin: 125px auto;
    width: 162px;
    height: 49px;
    background-color: #425DF8;
    color: white;
    border-radius: 8px;
    border: 1px solid #425DF8;
    box-sizing: border-box;
    align-items: center;
    padding: 18px 22px;
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}

.pro-card{
    display: inline-flex;
    width: 416px;
    height: 817px;
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #161A34;
    background: #161A34;
    box-sizing: border-box;
    flex-direction: column;
}

.pro-card-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
    color: #F6FDFF;
}

.pro-card-list span{
    padding-left: 16px;
    width: 264px;
    text-align: left;
}

.pro-card h2{
    color: #F6FDFF;
}

.pro-card span{
    color: #F6FDFF;
}

.pro-card h1{
    color: #F6FDFF;
}

.price-pro{
    display: flex;
    margin: 0px auto;
    flex-direction: row;
}

.price-pro span{
    display: flex;
    margin-left: 16px;
    
}

.price-pro h1{
    display: flex;
    margin-top: 0px;
}

.btn-for-start-pro a{
    color: white;
}

.footer{
    display: flex;
    border-top: 1px solid #0E0F13;
    margin-top: 196px;
    align-items: center;
    height: 59px;
    padding: 16px 52px;
    box-sizing: border-box;
    justify-content: space-between;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-logo span{
    font-size: 18px;
}

.footer p{
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    align-items: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}